<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.todoperfect">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TodoPerfectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodoPerfect">
        <activity
            android:name=".LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.TaskAlarmService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ui.TimeUpService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".StartTaskActivity"
            android:launchMode="singleTop" />
        <activity android:name=".AddActivity" />
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"/>

        <receiver
            android:name=".ui.broadcast.TaskAlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":newinst">
            <intent-filter>
                <action android:name="com.example.todoperfect.TASK_ALARM" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.broadcast.PermanentServiceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.todoperfect.TASK_ALARM_SERVICE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.broadcast.TimeUpReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.todoperfect.TIME_UP" />
            </intent-filter>
        </receiver>
    </application>

</manifest>